<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.plans.plans_backend.mapper.UserMapper">

    <select id="queryByName" resultType="com.li.plans.plans_backend.entity.PlansUser">
        select * from plans_user where usr_name = #{username}
    </select>

</mapper>